/* Постійні клієнти */

.brands-list {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $desktop) {
    max-width: none;
    grid-template-columns: repeat(6, 1fr);
  }
}

.brands-list__item {
}

.brands-list__link {
  display: block;

  transition: color $main-transition, fill $main-transition, background-color $main-transition;

  padding: calc((90px - 60px) / 2) 0;
  border: 1px solid currentColor;
  border-radius: 4px;

  color: $brand-main-color;
  fill: currentColor;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.brands-list__icon {
  display: block;
  margin: 0 auto;

  width: 106px;
  height: 60px;
}
