.checkbox-icon {
  display: block;

  width: 16px;
  height: 15px;

  flex: 0 0 16px;

  cursor: pointer;
}

.icon-non-check {
  @extend %checkbox-geometry;

  opacity: 1;
  fill: $title-font-color;

  transition: fill $main-transition, opacity $main-transition;

  .callback-agreement__input:focus + .checkbox-icon & {
    fill: $accent-color;
  }
  .callback-agreement__input:checked + .checkbox-icon & {
    opacity: 0;
  }
}

.icon-check {
  @extend %checkbox-geometry;

  opacity: 0;
  transition: opacity $main-transition;

  .callback-agreement__input:checked + .checkbox-icon & {
    opacity: 1;
  }

  fill: $accent-color;
}

.checkbox-custom {
  position: relative;

  cursor: pointer;
  margin-right: 9px;

  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: background-color $main-transition, border-color $main-transition;

  .callback-agreement__input:checked + & {
    background-color: $accent-color;
    border-color: transparent;
  }

  .callback-agreement__input:focus + & {
    border-color: $accent-color;
  }

  .callback-agreement__input:checked + &::after {
    content: '';
    position: absolute;

    width: 11px;
    height: 4px;
    border-left: 2px solid $main-light-color;
    border-bottom: 2px solid $main-light-color;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
