.checkbox-icon {
  display: block;

  width: 16px;
  height: 15px;

  flex: 0 0 16px;

  cursor: pointer;
}

.icon-non-check {
  @extend %checkbox-geometry;

  opacity: 1;
  fill: $title-font-color;

  transition: fill $main-transition, opacity $main-transition;

  .callback-agreement__input:focus + .checkbox-icon & {
    fill: $accent-color;
  }
  .callback-agreement__input:checked + .checkbox-icon & {
    opacity: 0;
  }
}

.icon-check {
  @extend %checkbox-geometry;

  opacity: 0;
  transition: opacity $main-transition;

  .callback-agreement__input:checked + .checkbox-icon & {
    opacity: 1;
  }
}
