.logo {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }

  font-family: $logo-font-family;
  font-weight: 700;
  font-size: $logo-font-size;
  line-height: 1.167;
  @media screen and (min-width: $desktop) {
    line-height: 1.192;
  }
  letter-spacing: $main-letter-spacing;

  color: $logo-font-color;

  @media screen and (min-width: $desktop) {
    font-size: $logo-font-size-big;
  }

  &--inverted-color {
    color: $main-light-color;
  }
}

.logo__accent {
  color: $accent-color;
  line-height: inherit;
}
