.overlayed-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.overlayed-list__overlayed-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.overlayed-list__name {
  position: absolute;
  bottom: 0;
}
